{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Static Files Proxy</h1>
  <p>This application is a simple proxy for static files. Any request to a resource under `/files/` will trigger a request to the upstream server at the same URL, minus `/files`. If the request returns 200 OK, the response is cached locally and used going forward. If anything else is returned, the response is just displayed to the user and not cached.</p>
{% endblock %}
