{% extends "layout.html" %}
{% set active_page = "stats" %}

{% block title %}Stats{% endblock %}

{% block content %}
  <h1>Stats</h1>
  <div class="row">
      <div class="span6">
          <h2>Totals</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>Metric</th><th>Value</th>
              </thead>
              <tbody>
                  <tr><td>TOTAL</td><td>{{ stat_total['TOTAL'] }}</td></tr>
                  <tr><td>CACHED</td><td>{{ stat_total['CACHED'] }}</td></tr>
                  <tr><td>PROXIED</td><td>{{ stat_total['PROXIED'] }}</td></tr>
              </tbody>
          </table>
      </div>
      <div class="span6">
          <h2>Disk Stats</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>Metric</th><th>Value</th>
              </thead>
              <tbody>
                  <tr><td>Number Cached</td><td>{{ stat_disk[0] }}</td></tr>
                  <tr><td>Total Size</td><td>{{ stat_disk[1]|filesizeformat }}</td></tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row">
      <div class="span6">
          <h2>Top Ten Requests By File</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>File</th><th>Hits</th>
              </thead>
              <tbody>
              {% if not stat_files %}
                  <tr><td colspan="2">No Files</td></tr>
              {% endif %}
              {% for path, score in stat_files %}
                  <tr><td>{{ path }}</td><td>{{ score|int }}</td></tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="span6">
          <h2>Top Ten Requests Cached</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>Code</th><th>Hits</th>
              </thead>
              <tbody>
              {% if not stat_cached %}
                  <tr><td colspan="2">No Files</td></tr>
              {% endif %}
              {% for code, score in stat_cached %}
              <tr><td>{{ code }}</td><td>{{ score|int }}</td></tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <div class="row">
      <div class="span6">
          <h2>Top Ten Requests Proxied</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>Code</th><th>Hits</th>
              </thead>
              <tbody>
              {% if not stat_proxied %}
                  <tr><td colspan="2">No Files</td></tr>
              {% endif %}
              {% for code, score in stat_proxied %}
              <tr><td>{{ code }}</td><td>{{ score|int }}</td></tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="span6">
          <h2>Top Ten Requests By Code</h2>
          <table class="table table-striped table-bordered">
              <thead>
                  <tr><th>File</th><th>Hits</th>
              </thead>
              <tbody>
              {% if not stat_codes %}
                  <tr><td colspan="2">No Files</td></tr>
              {% endif %}
              {% for path, score in stat_codes %}
                  <tr><td>{{ path }}</td><td>{{ score|int }}</td></tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
